<!DOCTYPE html>
<html>
<head>
  <title>Liste HTML</title>
  <link rel="stylesheet" type="text/css" href="/styles/advises.css">
  <script src="./javascript/advises.js"></script>
    
</head>
<div id="container">
    <div id="info_container">
        <div id="info_startup_name">
            MOBLANDO
        </div>
        <div class="info_button_container">
            <div class="info_inner_button_container">
                who are we?
            </div>
        </div>
        <div class="info_button_container">
            <div class="info_inner_button_container">
                FAQ
            </div>
        </div>
        <div class="info_button_container">
            <div class="info_inner_button_container">
                Options
            </div>
        </div>
        <div class="info_button_container">
            <div onclick="go_to_advises()" class="info_inner_button_container">
                Advises
            </div>
        </div>

    </div>
    <div id ="advise_container">
        <div id="inner_advise_container">
            <div id="advise_text">
                Send us some advise to improve your experience or some exams you need to study!
            </div>
            <div id="advise_input_container">
                <input type="text" id="advise_input">
            </div>
            <div id="advise_button">
                <div id="inner_advise_button" onclick="send_advise()">
                    SEND
                </div>
            </div>

        </div>
    </div>
    <div id="extra_container">
    
    </div>

</div>
</body>
</html>