<!DOCTYPE html>
<html>
<head>
  <title>Liste HTML</title>
  <link rel="stylesheet" type="text/css" href="/styles/advises.css">
  <script src="./javascript/advises.js"></script>
  <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
  <script type="text/javascript">
    (function () {
      emailjs.init("bN8kvgKDK8aVbDoYX");
    })();
  </script>
    
</head>
<div id="container">
    <div id="info_container">
        <div id="info_startup_name">
            MOBLANDO
        </div>
        <div class="info_button_container">
            <div onclick="go_to_info()" class="info_inner_button_container">
                who are we?
            </div>
        </div>
        <div class="info_button_container">
            <div onclick="go_to_faq()" class="info_inner_button_container">
                FAQ
            </div>
        </div>
        <div class="info_button_container">
            <div onclick="go_to_homepage()" class="info_inner_button_container">
                Homepage
            </div>
        </div>

    </div>
    <div id ="advise_container">
        <div id="inner_advise_container">
            <div id="advise_text">
                Send us some advise to improve your experience! <br>Ask for exams you need to study!<br> Ask to become a note Seller!<br> Review materials!
            </div>
            <div id="advise_input_container">
                Mail:
                <input type="text" id="advise_input_mail">
                Message:
                <textarea id="advise_input_text"></textarea>
            <div id="advise_button">
                <div id="inner_advise_button" onclick="send_advise()">
                    SEND
                </div>
            </div>
        </div>

        </div>
    </div>
    <div id="extra_container">
    
    </div>

</div>
</body>
</html>