<!DOCTYPE html>
<html>
<head>
  <title>Liste HTML</title>
  <link rel="stylesheet" type="text/css" href="/styles/faq.css">
  <script src="./javascript/faq.js"></script>
</head>
<div id="container">
    <div id="info_container">
        <div id="info_startup_name">
            MOBLANDO
        </div>
        <div class="info_button_container">
            <div onclick="go_to_info()" class="info_inner_button_container">
                who are we?
            </div>
        </div>
        <div class="info_button_container">
            <div onclick="go_to_advises()" class="info_inner_button_container">
                Send us some advise or Ask for material
            </div>
        </div>
        <div class="info_button_container">
            <div onclick="go_to_homepage()" class="info_inner_button_container">
                Homepage
            </div>
        </div>

    </div>
    <div id ="main_container">
        <div id ="inner_main_container">
            <div id="faq_text">
                FAQ
            </div>
            <div id="faq_list">
                <div class="faq_list_element">
                    <div class="faq_list_question">
                        what is this site?
                    </div>
                    <div class="faq_list_answer">
                        It's an university project!
                    </div>
                </div>

                <div class="faq_list_element">
                    <div class="faq_list_question">
                        Why the contacts dont't answer me?
                    </div>
                    <div class="faq_list_answer">
                        This is still an MVP so they are doing this not as a work
                    </div>
                </div>

                <div class="faq_list_element">
                    <div class="faq_list_question">
                        How can we contact you?
                    </div>
                    <div class="faq_list_answer">
                        Using the "Send us some advise or Ask for material" Section above
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div id="extra_container">
    
    </div>

</div>
</body>
</html>