<!DOCTYPE html>
<html>
<head>
  <title>Moblando Homepage</title>
  <link rel="stylesheet" type="text/css" href="/styles/homepage.css">
  <script src="./javascript/homepage.js"></script>
</head>
<div id="container">
    <div id="info_container">
        <div id="info_startup_name">
            MOBLANDO
        </div>
        <div class="info_button_container">
            <div onclick="go_to_info()" class="info_inner_button_container">
                who are we?
            </div>
        </div>
        <div class="info_button_container">
            <div onclick="go_to_faq()" class="info_inner_button_container">
                FAQ
            </div>
        </div>
        <div class="info_button_container">
            <div onclick="go_to_advises()" class="info_inner_button_container">
                Send us some advise or Ask for material
            </div>
        </div>

    </div>
    <div id ="main_container">
    <div id="name_list_element_container">
        Notes Givers
    </div>
    <div id ="list_container">
        <div class="list_element_container">
            <div class="inner_list_element_container">
                <div class="name_list_container">
                    <div>
                        <b>Claudio Schiavella</b>
                    </div>
                </div>
                <div class="contacts_list_container">
                    <div>
                        <b>Contacts </b>
                    </div>
                    <div>
                        <br>
                         telegram @Charlie212121 <br>
                    </div>
                </div>
                <div class="exams_list_container">
                    <div>
                        
                        <b>Materials</b>
                    </div>
                    <div>
                        <br>
                        AMR <br> Robotics 1 <br> Robotics 2 <br> Elective in AI
                    </div>
                </div>
            </div>
        </div>
        <div class="list_element_container">
            <div class="inner_list_element_container">
                <div class="name_list_container">
                    <div>
                        <b>Nicolò Dentale</b>
                    </div>
                </div>
                <div class="contacts_list_container">
                    <div>
                        <b>Contacts </b>
                    </div>
                    <div>
                        <br>
                        mail: @Terradeikaki@gmail.com <br> 
                    </div>
                </div>
                <div class="exams_list_container">
                    <div>
                        
                        <b>Materials</b>
                    </div>
                    <div>
                        <br>
                        Interactive Graphics <br> Blockchain <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="list_element_container">
            <div class="inner_list_element_container">
                <div class="name_list_container">
                    <div>
                        <b>Jacopo Tedeschi</b>
                    </div>
                </div>
                <div class="contacts_list_container">
                    <div>
                        <b>Contacts </b>
                    </div>
                    <div>
                        <br>
                        Telegram: @SerialPetter <br>
                    </div>
                </div>
                <div class="exams_list_container">
                    <div>
                        
                        <b>Materials</b>
                    </div>
                    <div>
                        <br>
                        Robotics 2 <br> Robot Programming <br> Machine Learning
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="extra_container">
    
    </div>

</div>
</body>
</html>