<!DOCTYPE html>
<html>
<head>
  <title>Liste HTML</title>
  <link rel="stylesheet" type="text/css" href="/styles/homepage.css">
</head>
<div id="container">
    <div id="info_container">
        <div id="info_startup_name">
            DLOTOMODO
        </div>
        <div class="info_button_container">
            <div class="info_inner_button_container">
                who are we?
            </div>
        </div>
        <div class="info_button_container">
            <div class="info_inner_button_container">
                Questions
            </div>
        </div>
        <div class="info_button_container">
            <div class="info_inner_button_container">
                Options
            </div>
        </div>
        <div class="info_button_container">
            <div class="info_inner_button_container">
                Miao
            </div>
        </div>

    </div>
    <div id ="list_container">
        <div class="list_element_container">
            <div class="inner_list_element_container">
                <div class="name_list_container">
                    Claudio Sivella
                </div>
                <div class="contacts_list_container">
                    instagram: @Claudionescsc \n telegram @Charliexnx \n miao miao
                </div>
                <div class="exams_list_container">
                    AMR \n Robotics 1 \n Robotics 2
                </div>
            </div>
        </div>
        <div class="list_element_container">
            <div class="inner_list_element_container">
                <div class="name_list_container">
                    Claudio Sivella
                </div>
                <div class="contacts_list_container">
                    instagram: @Claudionescsc \n telegram @Charliexnx \n miao miao
                </div>
                <div class="exams_list_container">
                    AMR \n Robotics 1 \n Robotics 2
                </div>
            </div>
        </div>
        <div class="list_element_container">
            <div class="inner_list_element_container">
                <div class="name_list_container">
                    Claudio Sivella
                </div>
                <div class="contacts_list_container">
                    instagram: @Claudionescsc \n telegram @Charliexnx \n miao miao
                </div>
                <div class="exams_list_container">
                    AMR \n Robotics 1 \n Robotics 2
                </div>
            </div>
        </div>
    </div>
    <div id="extra_container">
    
    </div>

</div>
</body>
</html>