<!DOCTYPE html>
<html>
<head>
  <title>Liste HTML</title>
  <link rel="stylesheet" type="text/css" href="/styles/homepage.css">
</head>
<div id="container">
    miao
    <div id="info_container">
        <div id="info_startup_name">
            DLOTOMODO
        </div>
        <div class="info_button_container">
            <div class="info_inner_button_container">
                who are we?
            </div>
        </div>
        <div class="info_button_container">
            <div class="info_inner_button_container">
                Questions
            </div>
        </div>
        <div class="info_button_container">
            <div class="info_inner_button_container">
                Options
            </div>
        </div>
        <div class="info_button_container">
            <div class="info_inner_button_container">
                Miao
            </div>
        </div>

    </div>
    <div id ="list_container">

    </div>
    <div id="extra_container">
    
    </div>

</div>
</body>
</html>