<!DOCTYPE html>
<html>
<head>
  <title>Liste HTML</title>
  <link rel="stylesheet" type="text/css" href="/styles/info.css">
  <script src="./javascript/info.js"></script>
    
</head>
<div id="container">
    <div id="info_container">
        <div id="info_startup_name">
            MOBLANDO
        </div>
        <div class="info_button_container">
            <div onclick="go_to_advises()" class="info_inner_button_container">
                Advises
            </div>
        </div>
        <div class="info_button_container">
            <div onclick="go_to_faq()" class="info_inner_button_container">
                FAQ
            </div>
        </div>
        <div class="info_button_container">
            <div onclick="go_to_homepage()" class="info_inner_button_container">
                Homepage
            </div>
        </div>

    </div>
    <div id ="main_container">
        <div    id="inner_main_container">
            We are a group of students of the AIRO course and this is our little mvp. Hope you like it! miao miao
        </div>
    </div>
    <div id="extra_container">
    
    </div>

</div>
</body>
</html>