body, html {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#info_container {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(58, 114, 255);
}

#main_container {
    flex: 5;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#list_container {
    flex: 5;
    display: flex;
    flex-direction: row;
    width: 65%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

#extra_container {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
}

#info_startup_name {
    flex:2;
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family:'Oswald'
}

.info_button_container {
    flex: 1;
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;

}

.info_inner_button_container {
    width: 70%;
    height: 70%;
    display: flex;
    background-color:  black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 10px;
    border: 2px solid white;

}

.info_inner_button_container:hover{
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#name_list_element_container {
    flex: 1;
    display: flex;
    height: 90%;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-bottom: solid;
    text-align: center;
    margin: 20px;
}

.list_element_container {
    flex: 1;
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.inner_list_element_container {
    display: flex;
    height: 85%;
    width:  70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex-direction: column;
}

.inner_list_element_container:hover{
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.name_list_container{
    display: flex;
    height: 80%;
    width:  100%;
    background-color:  cornflowerblue;
    justify-content: center;
    align-items: center;
    flex:1
}
.contacts_list_container{
    display: flex;
    height: 80%;
    width:  100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex:4
}
.exams_list_container{
    display: flex;
    height: 80%;
    width:  100%;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    flex:6;
    margin:30px;
}
